
<!-- bandc0mp -->
<div id="releases">
  <h1><span>SELECTED DISCOGRAPHY</span></h1>
  <center>
  <iframe width="150" height="295" style="position: relative; display: block; width: 150px; height: 295px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=2367534548/size=tall/bgcol=cd00cd/linkcol=00cdcd/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://ovenrake.bandcamp.com/album/21-years-of-disappointment">21 Years of Disappointment by Oven Rake</a></iframe>
  <iframe width="150" height="295" style="position: relative; display: block; width: 150px; height: 295px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=2426863745/size=tall/bgcol=FFFFFF/linkcol=00cdcd/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://ovenrake.bandcamp.com/album/for-the-good-gravy-man">For_The_Good_Gravy_Man by Oven Rake</a></iframe>
  <iframe width="150" height="295" style="position: relative; display: block; width: 150px; height: 295px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=497111825/size=tall/bgcol=FFFFFF/linkcol=00cdcd/transparent=true" allowtransparency="true" frameborder="0"><a href="http://ovenrake.bandcamp.com/album/dead-bear-mountain">Dead Bear Mountain by Oven Rake</a></iframe>
  </center>
</div>
<!-- promo -->
<div id="promo">
  <h1><span>PROMO/BOOKING</span></h1>
  <p>
  ovenrake is a guy. he play gameboy for you. okay. do it now, do it later.
  </p>
  <%= link_to "full tech rider", "/ovenrake_rider.pdf" %>
</div>
<!-- vids -->
<div id="videos">
  <h1><span>VIDEOS PARTY</span></h1>
  <iframe width="432" height="268" src="http://www.youtube.com/embed/videoseries?list=PL158C8EBCABF27B2D&amp;hl=en_US" frameborder="0" allowfullscreen></iframe>
</div>
<!-- pics -->
<div id="pics">
  <h1><span>PHOTOS</span></h1>
  <img src="/img/ovenrake_dorkys.jpg" />
</div>
<div id="sounds">
  <h1><span>LATEST SOUNDS</span></h1>
  <iframe width="100%" height="166" scrolling="no" frameborder="no"></iframe>
</div>
<div id="affiliates">
  <h1><span>AFFILIATES</span></h1>
  <ul id=affiliates">
  <li>
  <a href="http://www.purple.com/">
    <img alt="purple.purple.com" src="http://www.purple.com/affinity/purple.png">
  </a>
  </li>
  <li>
  <a href="http://www.datafruits.fm/">
    <img alt="DataFruits.FM radio" src="/img/datafruits.png">
  </a>
  </li>
  <li>
  <a href="http://www.hexawe.net/">
    <img alt="hexawe piggy netlabel" src="/img/hexawe.jpg">
  </a>
  </li>
  </ul>
</div>
